<head>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {'packages':['annotatedtimeline']});
  google.setOnLoadCallback(drawChartInitial);

  function drawChartInitial() {
    var data = {{data|safe}};
    drawChart(data);
  }

  var chart;
  var table;

  function drawChart(data) {
    table = new google.visualization.DataTable();
    table.addColumn('datetime', 'Date');
    {{ columnData|safe }}
    table.addRows(data);
    chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
    chart.draw(table, {allowRedraw: true});  
  }

  function updateChart(data) {
    if (chart) { //if the chart has been initialized
      /*for (var row_id in data) {
        var row = data[row_id];
        table.addRow(row)
      }*/
      table.setRows(data);
      chart.draw(table, {allowRedraw: true});  
    }  
  }

  function refreshData() {
    //alert("?");
    $.ajax({
      url: "http://ec2-54-235-36-112.compute-1.amazonaws.com/fetch",
      //data: 'x',
      async: false,
      success: function(data){
        if (data) {
          //Convert the string returned by the query to an array
          chartData = eval(data);
          
          //render the new data
          updateChart(chartData)
            
        }
            
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) { 
        alert("Error: " + errorThrown + " " + XMLHttpRequest); 
      }
    });
    setTimeout(refreshData, 1000); 
  }


</script>

<style>
  * {
    font-family: 'Alegreya Sans SC', sans-serif;
  }
</style>

</head>
<body onload="refreshData()" style='background: #dddddd'>
  <center>
  <h1> EEG Data </h1>
  <table><tr><td>
  <div id='chart_div' style='width: 1000px; height: 600px;'></div>
  </td><td>
  <div id='options_div' style='width:300px; height: 600px; background: #f82;'></div>
  </td></tr></table>
  </center>
</body>
